.pipeline-tab-content {
  .space-children,
  .space-children > span {
    display: flex;
    align-self: center;
  }

  .media {
    align-items: center;
  }

  .code-text {
    width: 100%;
  }
}

.report-block-container {
  border-top: 1px solid $gray-darker;
  padding: $gl-padding-top;
  background-color: $gray-light;
  margin: $gl-padding #{-$gl-padding} #{-$gl-padding};

  // Clean MR widget CSS
  line-height: 20px;
}

.report-block-list {
  list-style: none;
  padding: 0 1px;
  margin: 0;
}

.report-block-list-icon {
  display: flex;

  &.failed {
    color: $red-500;
  }

  &.success {
    color: $green-500;
  }

  &.neutral {
    color: $theme-gray-700;
  }
}

.report-block-list-issue {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
}

.report-block-list-issue-description {
  align-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  align-self: center;
}

.report-block {
  .break-link {
    word-wrap: break-word;
    word-break: break-all;
  }
}

.report-block-issue-code {
  width: $modal-lg - 70px;
}

.modal-security-report-dast {
  .modal-dialog {
    width: $modal-lg;
  }
  // TODO remove this when gl_modal support not rendering the footer
  .modal-footer {
    display: none;
  }
}
